@font-face {
font-family: 'Museo300Regular';
src: url('fonts/Museo300-Regular-webfont.eot');
src: url('fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/Museo300-Regular-webfont.woff') format('woff'),
url('fonts/Museo300-Regular-webfont.ttf') format('truetype'),
url('fonts/Museo300-Regular-webfont.svg#Museo300Regular') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'Museo500Regular';
src: url('fonts/Museo500-Regular-webfont.eot');
src: url('fonts/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/Museo500-Regular-webfont.woff') format('woff'),
url('fonts/Museo500-Regular-webfont.ttf') format('truetype'),
url('fonts/Museo500-Regular-webfont.svg#Museo500Regular') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'Museo700Regular';
src: url('fonts/Museo700-Regular-webfont.eot');
src: url('fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/Museo700-Regular-webfont.woff') format('woff'),
url('fonts/Museo700-Regular-webfont.ttf') format('truetype'),
url('fonts/Museo700-Regular-webfont.svg#Museo700Regular') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'museo_sans500_italic';
src: url('fonts/MuseoSans_500_Italic-webfont.eot');
src: url('fonts/MuseoSans_500_Italic-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/MuseoSans_500_Italic-webfont.woff') format('woff'),
url('fonts/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
url('fonts/MuseoSans_500_Italic-webfont.svg#museo_sans500_italic') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'museo_sans500';
src: url('fonts/MuseoSans_500-webfont.eot');
src: url('fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/MuseoSans_500-webfont.woff') format('woff'),
url('fonts/MuseoSans_500-webfont.ttf') format('truetype'),
url('fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
font-weight: normal;
font-style: normal;

}

body, 
.wp-editor {
font-family: "museo_sans500",sans-serif;
font-size: 14px;
line-height: 20px;
color: #000;
}

p {
margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
font-family: 'Museo700Regular';
}

h1 {
font-family: 'Museo300Regular', serif;
font-size: 26px;

}

h2 {
color: #497e58;
font-family: "Museo700Regular",serif;
font-size: 22px;
margin-bottom: 10px;
}

h3 {
font-family: 'Museo700Regular', serif;
font-size: 16px;
color: #497E58;
margin-bottom: 20px;
}

a {
color: #497E58;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:focus {
text-decoration: underline;
}

strong {
font-family: 'Museo700Regular';
}

cite,
em,
i {
font-style: italic;
}

big {
font-size: 131.25%;
}

ins {
background: #ffc;
text-decoration: none;
}

blockquote {
padding: 0 3em;
}

hr {
height: 0;
background: none;
border-top: 2px dashed #CFD78B;
border-bottom: none;
border-left: none;
border-right: none;
clear: both;
}

.wp-editor ul li,
#content ul li {
margin-left: 3em;
list-style-type: disc;
}

.wp-editor ol li,
#content ol li {
margin-left: 3em;
list-style-type: decimal;
}

.subtitle {
display: block;
font-family: 'Museo300Regular';
font-size: 18px;
line-height: 22px;
padding-bottom: 25px;
margin-bottom: 25px;
border-bottom: 2px dashed #CFD78B;
}

.boldgreen {
color: #497e58;
font-family: "Museo700Regular",serif;
font-size: 16px;
}

.bigserif {
	font-size: 30px;
	font-family: 'Museo500Regular', serif;
}

a.button, 
.button a {
		display: inline-block;
	font-family: "museo_sans500",​sans-serif;
	border : none;
	-webkit-box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
	box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
	font-size : 13px;
	color : #ffffff;
	padding : 10px 15px;
	background : #55a365;
	cursor: pointer;
	font-size: 1.3em;
}

a.button:hover,
.button a:hover {
	-webkit-box-shadow : none;
	-moz-box-shadow : none;
	box-shadow : none;
	background : #66ad74;
}

/* LAYOUT */
/* ----------------------------------------- */

/* Presentational classes generated by WordPress */
.aligncenter	{ display: block; margin: 0 auto; }
.alignleft		{ float: left; margin: 0 20px 20px 0; }
.alignright		{ float: right; margin: 0 0 20px 20px; }
.wp-caption		{ border: 1px solid #999; text-align: center; background: #eee; padding: 10px; margin: 10px; }
.wp-caption-text { font-size: .8em; }
.sticky 		{ font-size: 1.1em; }
.gallery-caption { font-size: .8em; }
.bypostauthor 	{ font-style: italic; } 