/*
Theme Name: Seattle Community Care
Theme URI: http://seattlecommunitycare.com
Description: Design by The Medium - http://the-medium.net
Version: 1
Author: Morgan Kay and WP Alchemists
Author URI: http://wpalchemists.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


@import "css/reset.css";
@import "editor-style.css";


/* GENERAL STYLES */
/* ----------------------------------------- */


* { 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box; 
}

.offscreen {
position: absolute;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
}

.clearfix:after {
display: table;
content: '';
clear: both;
}

body {
background: url('images/background.jpg') center 140px no-repeat #1e1f1a;
}

#wrapper {
width: 96%;
max-width: 960px;
margin: 0 auto;
}

#content img,
#top img {
max-width: 100%; 
height: auto;
}

img[class*="align"],
img[class*="wp-image-"] {
height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full {
max-width: 100%;
width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}

.login-remember {
	display: none;
}

/* HEADER */
/* ----------------------------------------- */

#top {
height: 120px;
margin-bottom: 20px;
position: relative;
background: #1e1f1a;
}

#top .logo a {
display: block;
background: url('images/logo.png') no-repeat;
width: 267px;
height: 98px;
text-indent: 100%; 
white-space: nowrap; 
overflow: hidden;
margin: 20px 0 0 30px;
}

#top .wppb-front-end-logout {
	position: absolute;
	top: -5px;
	right: 0;
	color: #fff;
	text-align: right;
}

#top .wppb-front-end-logout a {
	display: block;
	font-size: 1.2em;
	text-align: right;
	color: #87B6DE;
	font-weight: bold;
}

#top .edit-profile {
	color: #87B6DE;
	position: absolute;
	top: 15px;
	right: 5.7em;
}

/* NAVIGATION */
/* ----------------------------------------- */

#top nav {
position: absolute;
right: 0;
top: 45px;
vertical-align: middle;
}

#top nav li {
display: inline-block;
text-align: center;
padding: 0px 20px 0px 20px;
vertical-align: middle;
max-width: 140px;
position: relative;
}

#top nav li:before {
display: block;
content: '';
border-left: 1px dotted #5F7252;
width: 1px;
height: 38px;
position: absolute;
left: 0;
top: 50%;
margin-top: -20px;
}

#top nav li a {
color: #fff;
font-family: 'Museo700Regular', serif;
font-size: 14px;
vertical-align:middle;
padding:0px;
text-transform: lowercase;
}

#top nav li.capital a {
	text-transform: none;
}

#top nav a:hover,
#top nav li.current-page-item a
{
color:#b3d6f4;	

}


/* PAGE */
/* ----------------------------------------- */

#content {
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 72.9%, rgba(221,233,239,0.9) 73%, rgba(221,233,239,0.9) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(72.9%,rgba(255,255,255,1)), color-stop(73%,rgba(221,233,239,0.9)), color-stop(100%,rgba(221,233,239,0.9)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 72.9%,rgba(221,233,239,0.9) 73%,rgba(221,233,239,0.9) 100%);
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 72.9%,rgba(221,233,239,0.9) 73%,rgba(221,233,239,0.9) 100%);
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 72.9%,rgba(221,233,239,0.9) 73%,rgba(221,233,239,0.9) 100%);
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 72.9%,rgba(221,233,239,0.9) 73%,rgba(221,233,239,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6dde9ef',GradientType=1 );
padding: 40px 8px 40px 40px;
position: relative;
}

#content #main:before {
display: block;
content: '';
width: calc(100% + 63px);
height: 10px;
background: url('images/main-top.png') bottom repeat-x;
position: absolute;
top: -50px;
left: -40px;
}

#content #main {
width: 70%;
float: left;
padding-right: 25px;
position: relative;
}

article header h1 {
margin-bottom: 20px;
}

article .featuredimg {
margin-left: -40px;
margin-bottom: 25px;
}


/* FULL-WIDTH PAGE */
/* ----------------------------------------- */

.page-template-page-full-width-php #wrapper,
.page-template-page-your-profile-php #wrapper,
.page-template-page-login-required #wrapper{
	max-width: 1200px;
}

.page-template-page-full-width-php #content,
.page-template-page-your-profile-php #content,
.page-template-page-login-required #content {
	background: rgba(255,255,255,1);
}

.page-template-page-full-width-php #content #main,
.page-template-page-your-profile-php #content #main,
.page-template-page-login-required #content {
	width: 100%;
	float: none;
}

.page-template-page-full-width-php #content #main:before,
.page-template-page-your-profile-php #content #main:before,
.page-template-page-login-required #content #main:before {
width: calc(100% + 48px);
}


/* PROFILE PAGE */
/* ----------------------------------------- */

.list-wrap {
	padding-bottom: 40px;
}

#content #adduser label {
    display: inline-block;
    width: 20%;
}

#adduser p {
	margin-bottom: 0;
}

#content .form-table {
	width: 100%;
}

#content .form-table th {
	width: 20%;
	text-align: left;
}

#content #adduser h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

#employee-info {
	margin-bottom: 40px;
}

#employee-info #nav li {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	text-align: center;
}

#employee-info #nav li a {
	display: inline-block;
	padding: 8px 12px;
	background: #ddd;
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	position: relative;
	top: 1px;
}

#employee-info #nav li a.current {
	background: #fff;
	border-bottom: 1px solid #fff;
}

#employee-info > div {
	border: 1px solid #dddddd;
	padding: 10px;
}

#employee-info .list-wrap > ul {
	padding-bottom: 40px;
}

.list-wrap #schedule nav ul[style] {
	display: block !important;
}

#content .all-clients li {
	margin-left: 1em;
	width: 20%;
	float: left;
}

.myclient {
	margin-bottom: 35px;
	padding-bottom: 20px;
	border-bottom: 2px dashed #cfd78b;
}

.myclient h1 {
	margin-bottom: 20px;
}

.success {
	border-left: 4px solid rgb(107, 175, 126);
	background: rgba(107, 175, 126, .5);
	padding: 6px;
}

.failure {
	border-left: 4px solid rgb(140, 36, 57);
	background: rgba(140, 36, 57, .4);
	padding: 6px;	
}

.failure textarea {
	width: 100%;
}

#documentation fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

#documentation legend {
	font-size: 16px;
}

#documentation textarea {
	display: block;
	width: 100%;
	height: 120px;
	margin-bottom: 12px;
	text-align: left;
}

#documentation p {
	margin-bottom: 5px;
}

#documentation label.goal {
	display: inline-block;
	width: 20%;
}

#documentation .overdue {
	font-weight: bold;
	color: #C14747;
}

#documentation .pending-review {
	color: #497e58;
}

#documentation .needs-work {
	color: #C14747;
}

#documentation .feedback {
	background: #CFEDF5;
	padding: 8px;
}

.single-client .editable {
	background: #e2e2e2;
	padding: 8px;
}

.single-client .editable:hover {
	background: #e4e4e4;
}

#docs .document {
	border: 1px dashed #4D7E58;
	padding: 15px;
	margin: 10px 0;
}

#docs .document p {
	margin-bottom: 0;
}

.list-wrap #clients .editable.instructions,
.single-client .edit-link {
	display: none;
}

#breadcrumbs {
	margin-bottom: 15px;
}

#breadcrumbs li {
	display: inline;
	list-style-type: none;
}

#breadcrumbs li:before {
	content: ' \00BB ';
}

#breadcrumbs li:first-child:before {
	display: none;
}

#disapprove-timesheet label {
	display: block;
	font-weight: bold;
}

#disapprove-timesheet textarea {
	width: 80%;
}

#logout {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	border: 1px solid #DDDDDD;
	padding: 5px;
}

/* HOME PAGE */
/* ----------------------------------------- */

body.home {
background: url('images/background-home-2.jpg') top center no-repeat #71AF8A;
}

.home #content {
background: none;
}

.home #content #main:before {
display: none;
}

.home #content #main {
width: 100%;
float: none;
}

.home .welcome {
margin: 30px 0 70px 20px;
	width: 45%;
	text-shadow: 1px 1px #96CAF2;
}


.home .welcome .quote {
    background: url("images/quotebg.png") no-repeat;
    background-size: 100% 100%;
    font-family: "museo_sans500_italic",sans-serif;
    margin-left: -30px;
    padding: 20px 50px 25px 30px;
    width: 125%;
    max-width: 503px;
	margin-top: 80px;
}

.home .welcome .quote p {
	margin-bottom: 0;
}

.home #content blockquote.easy_testimonial::before,
.home #content blockquote.easy_testimonial::after {
	display: none;
}

.home .we-are {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(161,215,247,0.8);
}

.home .we-are .widget h3 {
	color: #000;
	font-size: 22px;
}

.home #columns .we-are li {
	color: #fff;
}

/*.home #columns > div {*/
/*float: left;*/
/*font-size: 13.5px;*/
/*}*/

/*.home #columns > div:first-child {*/
/*width: 260px;*/
/*}*/

/*.home #columns > div:nth-child(2) {*/
/*width: 240px;*/
/*margin: 0 90px;*/
/*}*/




.home #columns .widget h3 {
color: #fff; 
margin-bottom: 10px;
}

.home #columns a {
color: #9ae2fe;
}

.home .testimonial_author {
	color: #C4E2FC;
	text-align: right;
}

	/* FORMS */
/* ----------------------------------------- */

input[type="submit"],
a.button-primary {
	display: inline-block;
	font-family: "museo_sans500",​sans-serif;
	border : none;
	-webkit-box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
	box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
	font-size : 13px;
	color : #ffffff;
	padding : 4px 10px;
	background : #55a365;
	cursor: pointer;
}

input[type="submit"]:hover,
a.button-primary:hover {
	-webkit-box-shadow : none;
	-moz-box-shadow : none;
	box-shadow : none;
	background : #66ad74;
}

#clock-in,
#clock-out {
	font-size: 20px;
	padding: 8px 14px;
	display: block;
	margin-bottom: 20px;
}

#clock-out {
	background: #C14747;
}

#shift-note label,
#shift-status label {
	display: block;
	font-family: "Museo700Regular";
	margin-top: 15px;
}

#shift-note textarea {
	width: 80%;
	display: block;
	height: 100px;
	margin-bottom: 6px;
}

#view-timesheet {
	border: 1px solid #AED7F7;
	margin: 10px;
	padding: 15px;
}

/* EMPLOYEE MANAGER STYLES */
/* ----------------------------------------- */

nav.schedule {
  text-align: center;
  margin-bottom: 15px;
}

#content nav.schedule li {
 display: inline-block;
  width: 30%;
  margin-left: 0;
}

#master-schedule td {
 border: 1px solid #AED7F7;
}

#master-schedule td > div {
	padding: 8px;
}

#master-schedule th {
 background:  #BFE2F8;
  border: 1px solid #fff;
  padding: 8px;
  cursor: pointer;
}

#master-schedule th span {
	position: relative;
}

#master-schedule th span:after {
	display: block;
	content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 2px 7.5px 2px 7.5px;
border-color: #888888;
text-align: center;
margin: 0 auto;
}

#master-schedule th.sorting-asc span:after {
border-width: 10px 7.5px 0 7.5px;
border-color: #888888 transparent transparent transparent;	
}

#master-schedule th.sorting-desc span:after {
border-width: 0 7.5px 10px 7.5px;
border-color: transparent transparent #888888 transparent;	
}

#master-schedule td .client,
#master-schedule td .time {
 display: block; 
}

#master-schedule td a {
	display: block;
	margin-bottom: 4px;
}

#master-schedule td a.details:after {
content: ' >';
}

.noshift {
	color: #888;
}

#adduser label {
	display: inline-block;
	width: 30%;
}

#adduser table label {
	width: 100%;
	text-align: left;
}

#adduser table tr:last-child {
	display: none;
}

#extra-work label,
#expense label {
	display: inline-block;
	width: 30%;
}

#extra-work textarea,
#expense textarea {
	width: 60%;
}

/* SINGLE CLIENT */
/* ----------------------------------------- */

.single-client #content {
	background: rgba(255,255,255,1);
}

.single-client #content #main {
	width: 100%;
	float: none;
}

#content .contactinfo li,
#content .parents li {
list-style-type: none;
margin-left: 0;
}

.single-client .contact,
#clients .contact {
	margin-bottom: 30px;
}

.parents ul {
	float: left;
	margin-right: 20px;
}

#clients h3, 
.single-client h3 {
	margin-top: 15px;
	margin-bottom: 8px;
}

#clients ul[style] {
	display: block !important;
}


/* SIDEBAR */
/* ----------------------------------------- */

#content aside {
width: 26%;
float: right;
position: relative;
}

#content aside:before {
display: block;
content: '';
width: calc(100% + 23px);
height: 10px;
background: url('images/aside-top.png') bottom repeat-x;
position: absolute;
top: -50px;
left: -15px;
}

blockquote.easy_testimonial {
font-size: 13px;
line-height: 22px;
margin-bottom: 20px;
}

#content blockquote.easy_testimonial:before,
#content blockquote.easy_testimonial:after {
display: block;
color: #fff;
font-size: 95px;
font-family: 'Times New Roman', Georgia, times, serif;
font-weight: bold;
position: relative;
}

#content blockquote.easy_testimonial:before {
content: '\201C';
left: -10px;
}

#content blockquote.easy_testimonial:after {
content: '\201D';
text-align: right;
}

.testimonial_author {
color: #497e58;
font-family: 'museo_sans500_italic', sans-serif;
font-size: 12px;
}

.testimonial_author:before {
content: '- ';
}

aside .seeking {
	width: 100%;
max-width: 235px;
background: rgba(255,255,255,.5);
position: relative;
font-size: 12px;
padding: 20px 25px 25px 20px;
margin: 0 auto;
margin-bottom: 60px;
}

aside .seeking:before {
display: block;
content: '';
width: 100%;
height: 15px;
background: url('images/top-edges.png') top center no-repeat;
position: absolute;
left: 0;
top: -15px;
}

.we-are {
	width: 100%;
max-width: 189px;
background: rgba(161,215,247,0.3);
text-align: center;
position: relative;
padding: 20px 15px 15px 15px;
margin: 0 auto;
}

.we-are:before {
display: block;
content: '';
width: 100%;
height: 12px;
background: url('images/top-edges.png') 0px -38px no-repeat;
position: absolute;
left: 0;
top: -12px;	
}

.we-are h3 {
color: #000;
font-size: 22px;
}

#content .we-are ul li {
list-style-type: none;
margin-left: 0;
font-size: 17px;
font-family: 'Museo700Regular', serif;
color: #497E58;
line-height: 32px;
}


/* FOOTER */
/* ----------------------------------------- */

#bottom {
margin-top: 10px;
border-top: 1px solid #8DCBCA;
position: relative;
padding: 10px 0;
}

#bottom:before {
display: block;
content: '';
width: 100%;
height: 1px;
background: #5D906F;
position: absolute;
top: -2px;
}

#bottom .logo a {
display: block;
background: url('images/logo_sm.png');
width: 151px;
height: 56px;
text-indent: 100%; 
white-space: nowrap; 
overflow: hidden;
float: left;
}

#bottom .address {
height: 56px;
float: right;
line-height: 36px;
color: #e3ebd0;
font-size: 14.5px;
text-align: right;
}


/* MEDIA QUERIES */
/* ----------------------------------------- */

@media screen and (max-width: 950px) {
	#top nav li {
	padding:0px 5px 0px 10px;
	max-width: 100px;
	}

}

@media screen and (max-width: 750px) {
	#top {
	height: auto;
	position: relative;
	margin: 0 -5% 15px -5%;
	padding-bottom: 20px;
	}

	#top .logo a {
	margin: 10px auto;
	}

	#top nav {
	position: relative;
	top: 0;
	text-align: center;
	margin: 10px auto;
	vertical-align: middle;
	}

	#top nav li {
	padding:0px 5px 0px 10px;
	max-width: 200px;
	}

	#top nav li:before {
	height: 15px;
	top: 50%;
	margin-top: -7px;
	}

	#top nav li:first-child:before {
	display: none;
	}

	#content {
	background: rgba(255,255,255,1);
	}

	#content #main {
	width: 100%;
	float: none;
	}

	#content #main:before {
	width: 100%;
	}

	#content aside {
	width: calc(100% + 48px);
	margin-left: -40px;
	margin-bottom: -40px;
	float: none;
	background: rgba(221,233,239,0.9);
	padding-bottom: 20px;
	}

	#content aside:before {
	display: none;
	}

	#content aside .randomTestimonialWidget {
		padding: 10px 25px;
	}

	body.home {
	background: url('images/background-home.jpg') -430px 0 no-repeat #71AF8A;
	}

	.home .welcome {
	margin: 30px;
		width: calc(100% - 200px);
	}



}

@media screen and (max-width: 600px) {
	.home .welcome {
		width: 100%;
	}

	.home .we-are {
		position: static;
		margin: 0 auto;
	}
}